body {
    background-color: #cff413;
    background-image: linear-gradient(62deg, #fbf7fc 0%, #eae2ed 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin: 10vh 0 0 0;
    /* font-family: sans-serif; */
    font-size: 3rem;
    font-style: oblique;    
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 80%;
    margin: 40px auto;
  
    background-color: #1bd5c9;
  }
  
  table.list {
    text-align: center;
    width: 100%;
  }
  
  td {
    border: 3px solid rgb(12, 12, 12);
    text-align: left;
    padding: 8px 15px;
  }
  
  tr:nth-child(even),
  table.list thread > tr {
    background-color: #0af3ef;
  }
  
  input[type="text"] {
    width: 91%;
    padding: 10px 10px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 6px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    font-style: italic;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    background: #f19407;
    font-style: Bold;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #474350;
    color: white;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  tbody {
    font-family: italic;
  }
  
  .input-part {
    font-family: sans-serif;
    font-size: 1.3rem;
  }
  
  button {
    background: #21a939;
    color: white;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }
  
  @keyframes rainbow {
    from {
      color: #3131cad0;
    }
    10% {
      color: #0099ffc9;
    }
    50% {
      color: #145c14b7;
    }
    75% {
      color: #e9127da2;
    }
    100% {
      color: #4040bdd2;
    }
  }
  